/db
/var/rosesh/stage
/var/rosesh/cache
/var/rosesh/repos/*/index.yaml
/var/rosesh/repos/*/lock
*.pyc
/opt
*~
.DS_Store
.idea
/etc/rosesh/licenses
/etc/rosesh/*.yaml
/etc/roseshconfig
/share/rosesh/dotkit
/share/rosesh/modules
/share/rosesh/lmod
/TAGS
*.swp
/htmlcov
.coverage
#*
.#*
/.cache
/bin/roseshc
